/.claude
/.vscode
/Library
/Logs
/Temp
/UserSettings
/*.csproj
/JiksLib.sln
/JiksLib.Core/bin
/JiksLib.Core/obj
/JiksLib.Core.Test/bin
/JiksLib.Core.Test/obj
/Assets/JiksLib/JiksLib.Core.dll
JiksLib.PerformanceTest/BenchmarkDotNet.Artifacts
JiksLib.PerformanceTest/bin
JiksLib.PerformanceTest/obj
